apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: quiz-app
  labels:
    role: api
    env: demo
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%
  selector:
    matchLabels:
      role: api
  template:
    metadata:
      labels:
        role: api
    spec:
      containers:
        - name: api
          image: ogochukwuozotta/backend:35ef7c2d6eb4aff5c9a7b3551a545f3d9210eb56
          imagePullPolicy: IfNotPresent 
          env:
            - name: MONGO_CONN_STR
              value: mongodb://mongodb-svc:27017/quiz_database  # ?directConnection=true
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: mongodb-secret
                  key: mongo-secret-key     
          ports:
            - containerPort: 8080
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 2
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
            successThreshold: 1
