apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: quiz-app
  labels:
    role: frontend
    env: demo
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%
  selector:
    matchLabels:
      role: frontend
  template:
    metadata:
      labels:
        role: frontend
    spec:
      containers:
      - name: frontend
        image: ogochukwuozotta/frontend:fd0a8545185b8799b692bdcfc453fa3c25be525f
        ports:
        - containerPort: 80
